body {
  border: 0;
  padding: 0;
  text-decoration: none;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #9e91d921;
  align-items: center;
}
.view {
  background-color: #c8e9ffa1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff5;
  width: 100%;
  border: aquamarine;
  padding: 5px;
  border-style: groove;
}
.firstheader {
}
.roview {
  display: flex;
  flex-direction: row;
  background-color: #ff23;

  padding: 5px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: column;
  background-color: #ff23;

  padding: 5px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: aquamarine;
  padding: 5px;
  border-style: groove;
}
.tcolunm {
  /* border: aquamarine;
    padding: 5px;
    border-style: groove; */
}
